<div id="custDashboard">
<div class="row"><h2>My Dashboard</h2></div>

<div class="row dashboard-panel">
<div class="dashTitle"><h3>Image Assets</h3></div>
<div class="clearfix"><%= link_to "Upload New Image", '#', "data-reveal-id" => "modAsset", :class => 'tiny success label radius left' %></div>
<% assetcount = 0 %>
	<% if @assets.empty? %>
		<p>You don't have any uploaded images.</p>
	<% else %>
		<% @assets.each_slice(3) do |slice| %>
			<div class="row">
			<br />
				<% slice.each do |asset| %>
				<% assetcount += 1 %>

				<div class="assetColumn text-center large-4 columns">
				<a href="#" class="asset-toolbar"><%= image_tag asset.file_name.url(:thumb).to_s %></a>
				<div id="asset-toolbar-options<%= assetcount %>" style="display: none;">
	  			<a href="#" data-reveal-id="myModal<%= assetcount %>" data-reveal><span data-tooltip class="has-top tip-top radius" title="Enlarge Image"><i class="icon-zoom-in"></i></span></a>
	  			<%= link_to [current_customer, asset], method: :delete do %>
	  				<span data-tooltip class="has-top tip-top radius" title="Delete Image"><i class="icon-remove"></i></span>
	  			<% end %>
				</div>

				<div id="myModal<%= assetcount %>" class="reveal-modal" data-reveal>
				<%= image_tag asset.file_name.to_s %>
				</div>

				</div>
				<% end %>
			</div>
		<% end %>
	<% end %>
</div>
<div class="row">
<div class="dashboard-panel clearfix">
<div class="dashTitle"><h3>Shipping and Billing Addresses</h3></div>
<div class="large-6 columns">
<div class="row clearfix"><%= link_to "Add New Shipping Address", '#', "data-reveal-id" => "modShAddr", :class => 'tiny success label radius left' %></div>
<% if @shipping_addresses.empty? %>
<p>You don't have any shipping addresses.</p>
<% else %>
<div class="row">
<br>
<%= collection_select(:sh_addresses, 0, @shipping_addresses, :id, :sh_full_address, {include_blank: 'Select a Shipping Address to Edit'}) %>
<div id="e_shipping_addresses">

</div>   
</div>
<% end %>
</div>
<div class="large-6 columns">
<div class="row clearfix"><%= link_to "Add New Billing Address", '#', "data-reveal-id" => "modBiAddr", :class => 'tiny success label radius left' %></div>
<% if @billing_addresses.empty? %>
<p>You don't have any billing addresses.</p>
<% else %>
<div class="row">
<br>
<%= collection_select(:bi_addresses, 0, @billing_addresses, :id, :bi_full_address, include_blank: 'Select a Billing Address to Edit') %>
<div id="e_billing_addresses">

</div> 
</div>
<% end %>
</div>
</div>

</div>

<div id="modAsset" class="reveal-modal" data-reveal>
<%= render 'shared/asset_form' %>
</div>
<div id="modShAddr" class="reveal-modal" data-reveal>
<%= render 'shared/shipping_addr_form' %>
</div>
<div id="modBiAddr" class="reveal-modal" data-reveal>
<%= render 'shared/billing_addr_form' %>
</div>
</div>